.h1Text {
    animation: type 2s step(58);
    overflow: hidden;
    white-space: nowrap;
    font-family: consolas;
    border-right: 4px solid black
}
ul.line {
    position: absolute;
    width: 100%;    
    padding: 0;
    border-top: 2px solid #777;
    display: flex;
}
ul.line li {
    position: relative;
    width: 24px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255,255,255,.1);    
    margin: 18px;
    margin-top: 25px;    
    list-style-type: none;
    top: -25px;
}
ul.line li:before{
    content: '';
    position: absolute;
    top: -7px;
    left: 7px;
    width: 10px;
    height: 8px;
    background: #444;
}
ul.line li:after{
    content: '';
    position: absolute;
    top:-18px;
    left: 12px;
    width: 74px;
    height: 26px;
    border-bottom: 2px solid #444;
    border-radius: 50%;
}
ul.line li:last-child:after{
    border-bottom: none;
}
ul.line li:nth-child(3n+1){
    background: rgba(255,255,0,1);
    animation: animate1 1.5s linear infinite;
}

@keyframes animate1{
    0% {
        background: rgba(255,255,0,.2);
    }
    50% {
        background: rgba(255,255,0,1);
        box-shadow: 0 0 25px rgba(255,255,0,1),0 0 45px rgba(255,255,0,1);
    }
    100% {
        background: rgba(255,255,0,.2);
    }
}

ul.line li:nth-child(3n+2){
    background: rgba(255,0,255,1);
    animation: animate2 1.5s linear infinite;
    animation-delay: .5s;
}

@keyframes animate2{
    0% {
        background: rgba(255,0,255,.2);
    }
    50% {
        background: rgba(255,0,255,1);
        box-shadow: 0 0 25px rgba(255,0,255,1),0 0 45px rgba(255,0,255,1);
    }
    100% {
        background: rgba(255,0,255,.2);;
    }
}
ul.line li:nth-child(3n+3){
    background: rgba(50,255,0,1);
    animation: animate3 1.5s linear infinite;
    animation-delay: 1.5s;
}

@keyframes animate3{
    0% {
        background: rgba(50,255,0,.2);
    }
    50% {
        background: rgba(50,255,0,1);
        box-shadow: 0 0 25px rgba(50,255,0,1),0 0 45px rgba(50,255,0,1);
    }
    100% {
        background: rgba(50,255,0,.2);
    }
}





@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

   #root {
       margin: 5px;
       padding: 5px;
       max-width: 100%;
       height: 100%;
   }
  
}
#homeTitle {
    color: white;
    text-align: center;
    margin: 20px;
}
.viewContainer{
    position: absolute;
    bottom: 20px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.viewButton {
    margin-right: 10px;
   
}
