* {
  margin: 0 auto;
  
}
.App {
  background: #303030;
  height: 100vh;
  color: white;
  overflow-x: hidden;
  
}
.aButton {
  text-decoration: none;
  color: white;
}
.aButton:hover {
  text-decoration: none;
  
}
nav {
 text-align: right;
}
.container {
  width: 70%;
  margin-top: 50;
}
